07/Responsive.pptx
09_JS_uvod_01/JS Uvod.pptx
.gitignore
11_JS-IF_nardba/IF - naredba grananja.pptx
10_JS_uvod2/JS Uvod.pptx
11_JS-IF_nardba/~$IF - naredba grananja.pptx
10_JS_uvod2/JS - Tekstovi zadataka- Dodela vrednosti.docx
13/~$JS WHILE.pptx
