*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
}
a{
    border-top-style: dashed;
    border-top-width: 2px;
    border-color: black;
    border-radius: 30%;
    border-left-width: 5px;
    border-left-style: solid; 
    border: 2px dashed black;
    border-left: 5px solid red;
    margin:10px 15px 20px;
    padding:10px 20px;
    background-color: teal;
    width: 200px;
    height: 45px;
}
#prvi, #drugi{
    background-color: burlywood;
    /*border: 1px solid black;
    padding: 15px;
    margin: 20px;*/
    height: 30px;
    width: 45%;
    font-size: 0px;
    display: inline-block;
}

p{
    border: 1px solid green;
    margin: 10px;
    padding: 10px;
    background-color: orange;
    width: 350px;
    height: 50px;
    overflow: auto;

}

/* INLINE-BLOCK (moze da se podesi width i height)  */