*{
    margin: 0;
    padding: 0;
}
p{
    font-size: 150%;
}
section{
    width: 900px;
    margin-left: 15px;
    background-color:transparent ;
    height: 700px;
    overflow: hidden;
    position: relative;
    top: 200px;
    left: 0;
    border: 1px solid red;
    
}
div{
    width: 32%;
    height: 600px;
    float:left;
    border: 1px solid blue;
    overflow: hidden;
    
    
}
#div_01 img, #div_02 img, #div_03 img{
    
    height:200px;
    border: 1px solid green;
    
}
#div_01 img{
    position: absolute;
    top: 50px;
    left: 40px;
}
#div_02 img{
    position: absolute;
    top: 50px;
    left: 340px;
}
#div_03 img{
    position: absolute;
    top: 50px;
    left: 630px;
}
#div_01 p{
    position: absolute;
    bottom: 150px;
    left: 40px;
    width: 200px;

}
#div_02 p{
    position: absolute;
    bottom: 150px;
    left: 340px;
    text-align: justify;
    width: 200px;
}
#div_03 p{
    position: absolute;
    bottom: 150px;
    left: 630px;
    text-align: justify;
    width: 200px;
}


