table, th, td {
    border:1px solid black;
}
table{
    border-collapse: collapse;
}
.zuto {
    background-color: yellow;
}


table.druga th:nth-child(3){
    background-color: yellow;
}
table.druga td:nth-child(3){
    background-color: yellow;
}
th {
    text-align-last: left;

}
