body{
    background-color: blanchedalmond;
    background: url('slike/ikea-museum.jpg') no-repeat right center;
}
table{
    margin: 20px;
    border-collapse: collapse;
    border: 2px solid black;
}

td, th{
   border: 1px solid black; 
   text-align: center;
   height: 60px;
   width: 150px;
}
th{
    border: 2px solid black;
}
label{
    margin: 20px;
    margin-top: 50px;
}
input{
    margin: 20px;
}