*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
table{
    border-collapse: collapse;
    margin: 20px;
}
td{
    border: 1px solid black;
    width: 50px;
    height: 20px;
    text-align: center;
   
}
.obojen{
    background-color: indianred;
}
.obojen2{
    background-color: grey;
}
p{
    margin: 10px;
    text-align: justify;
    text-indent: 20px;
}
.ljubicasti{
    color: purple;
}
.polje{
    border: 1px solid black;
    width:50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    line-height: 50px;
}
ul{
    margin: 30px;
}
ul ul{
    margin-top: 0;
    margin-bottom: 0;
}