*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
nav {
    background: yellow;
}
section{
    background-color: lime;
}
aside{
    background-color: salmon;
}
header{
    background-color: seagreen;
}
footer{
    background-color: steelblue;
}
.row{
    border: 1px solid red;
    width: 100%;
    overflow: hidden;
}
[class*="col-"]{
    float:left
}
/*za mob uredjaje 450px*/
@media only screen and (max-width: 450px){
        [class*="col-"]{
        width:100%;
    }
}
/* za tablet uredj  */
@media only screen and (min-width:451px) and (max-width:800px){
    .col-t-1{
        width: 8.33%;
    }
    .col-t-2{
        width: 16.66%;
    }
    .col-t-3{
        width: 25%;
    }
    .col-t-4{
        width: 33.33%;
    }
    .col-t-5{
        width: 41.66%;
    }
    .col-t-6{
        width: 50%;
    }
    .col-t-7{
        width: 58.33%;
    }
    .col-t-8{
        width: 66.33%;
    }
    .col-t-9{
        width: 75%;
    }
    .col-t-10{
        width: 83.33%;
    }
    .col-t-11{
        width: 91.66%;
    }
    .col-t-12{
        width: 100%;
    }
    
   
} 
  /* za desctop ur  */ 
@media only screen and (min-width:801px){
.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%;
}
.col-3{
    width: 25%;
}
.col-4{
    width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.33%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33%;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

}

